@use "sass:math";


$basesize: 16px;

@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}

// ========================================

@function colorShadeDark($color, $percentage) {
  @return mix(#000000, $color, $percentage);
}

@function colorShadeLight($color, $percentage) {
  @return mix(#ffffff, $color, $percentage);
}

// ========================================

$columnCount: 12;

@function column($col) {
  @return math.div(100%, $columnCount) * $col;
}
