@mixin reset() {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/********************************** DIMENSION **********************************/
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin max-width($width) {
  max-width: $width;
  width: 100%;
  margin: 0 auto;
}

@mixin space($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

/********************************** POSITION **********************************/
@mixin centerPosition() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexbox($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin navbar() {
  @include max-width(100vw);
  height: 40px;

  padding: 12px;

  @include flexbox(row, space-between);
  position: fixed;
  top: 0;

  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

/********************************** STYLE **********************************/
@mixin gradient-background($start-color, $end-color, $direction) {
  background: linear-gradient($direction, $start-color, $end-color);
}

@mixin buttonFill($theme) {
  @if ($theme == "outline") {
    background-color: $color--light;
    border-color: $color--dark;
    color: $color--dark;
    &:active {
      background-color: rgb(227, 16, 16);
    }
  } @else {
    background-color: $color--dark;
    color: white;
    border-color: $color--dark;
  }
}

@mixin buttonSize($size) {
  @if $size == "xl" {
    padding: rem(19px) rem(55px);
    font-size: rem(24px);
  } @else if $size== "lg" {
    padding: rem(19px) rem(44px);
    font-size: rem(22px);
  } @else if $size == "sm" {
    padding: rem(9px) rem(24px);
    font-size: rem(16px);
  } @else if $size == "xs" {
    padding: rem(8px) rem(20px);
    font-size: rem(14px);
  } @else {
    padding: rem(10px) rem(26px);
    font-size: rem(18px);
  }
}
