.dropdownContainer {
  position: relative;
  width: fit-content;
  border: 1px solid $color--medium;
  border-radius: 12px;
  padding: 12px 18px;
}

.dropdown {
  overflow: hidden;
  cursor: pointer;
}

.options {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  width: fit-content;
  background-color: $color--light;
  border: 1px solid $color--medium;
  transition: all 0.35s ease-in-out;
  border-radius: 12px;
  padding: 12px 36px;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.option {
  @extend %listItem;
  cursor: pointer;
}
