.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &.space-between {
    justify-content: space-between;
  }

  // &.align-center {
  //   align-items: center;
  // }
}

.row-g {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}
