body {
  @include reset();
  @include max-width(1440px);

  font-size: 16px;

  height: 100vh;
}

.MainTitle {
  color: $color--title;
  width: 100%;
  text-align: center;
}

.SwiperContainer {
  @include max-width(1080px);
  margin-top: 80px;
  border-radius: 12px;
  box-shadow: $elevationMedium;
  padding: $p-sm;
}

.mainForm {
  @include max-width(400px);
  margin-bottom: 80px;
  @include flexbox(column, center, flex-start);
  gap: 20px;
  
  h2 {
    text-align: center;
  }
}
