body {
  @include reset();
  @include max-width(1440px);

  font-size: 16px;

  height: 100vh;
}

.MainTitle {
  color: $color--title;
  width: 100%;
  text-align: center;
}

.Top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.mainForm {
  @include max-width(500px);

  h3 {
    text-align: center;
  }
}
