$color--title: #eb445a;
$color--primary: #257dfd;
$color--secondary: #5260ff;
$color--tertiary: #5260ff;
$color--success: #2dd36f;
$color--warning: #ffc409;
$color--danger: #eb445a;
$color--medium: #92949c;
$color--dark: #404040;
$color--light: #f4f5f8;
