$colorTeal: #008080;
$colorLightBlue: #8ecae6;
$colorDarkBlue: #023047;
$colorLightOrange: #ffb703;
$colorOrange: #fb8500;
$colorYellow: #ffd60a;
$colorOlive: #606c38;
$colorDarkOlive: #283618;
$colorRed: #d90429;
$colorGold: #ffd700;
$colorPrimary: #008080;

// ===============================

$primary: #257dfd;
$secondary: #5260ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$medium: #92949c;
$dark: #404040;
$light: #f4f5f8;
